<script>

  Highcharts.setOptions({
   global: {
      useUTC: false
   }
});

<% @units = Unit.where(:user_id => @user.id ) %>

<% @units.each do |u|

	u.slots.each do |s| %>

   
		var chart;
		$(document).ready(function() {
		   chart = new Highcharts.Chart({
			  chart: {
				 renderTo: 'hc-container<%= u.id %><%= s.position %>',
				 defaultSeriesType: 'spline',
				 marginRight: 10,
				 events: {
					load: function() {
		   
					   // set up the updating of the chart each second
					   var series = this.series[0];
					   setInterval(function() {
						 $.ajax({
						   url: "/get_latest_data/<%= u.id %>/<%= s.position %>" ,
						  success: function(data){
							if(data){
							var x = (new Date(data.data_point.updated_at)).getTime();
							var y = data.data_point.val;
							series.addPoint([x, y], true, true);
						  }
							
						  }
						 });
					   }, 1000);
					}
				 }
			  },
			  title: {
				 text: '\'<%=s.label%>\' Power Consumption'
			  },
			  xAxis: {
				 type: 'datetime',
				 tickInterval: 1000
			  },
			  yAxis: {
				max: 99,
				min: 0,
				 title: {
					text: 'Watts'
				 },
				 plotLines: [{
					value: 0,
					width: 1,
					color: '#808080'
				 }]
			  },
			  tooltip: {
				 formatter: function() {
						   return '<b>'+ this.series.name +'</b><br/>'+
					   Highcharts.dateFormat('%Y-%m-%d %H:%M:%S', this.x) +'<br/>'+ 
					   Highcharts.numberFormat(this.y, 2);
				 }
			  },
			  legend: {
				 enabled: false
			  },
			  exporting: {
				 enabled: false
			  },
			  series: [{
				 name: 'Live Data',
				 data: (function() {
					// generate an array of random data
					var data = [];
					
					<% s.data_points.each do |dp| %>
					   data.push({
						 x: (new Date('<%= dp.updated_at %>')).getTime(),
						 y: <%= dp.val %>
					   });
					 <% end %>
					return data;
				 })()
			  }]
		   });
		   
		});
		
		<% end %>
<% end %>
		
		</script>
		
<%  %>

<div class="row">
		
<h2>Register New Product:</h2>
<div class="well span4">
  Enter product ID:
	<%= form_tag({ :action => "register_unit", controller => "users", "user_id" => @user.id }) do %>
	<%= text_field_tag(:uid) %>
	<%= submit_tag("Register It") %>
	<% end %>
</div>

</div>

<div class="row-fluid">
		
<div class="well">
	
<% @units.each do |u|

	u.slots.each do |s| %>
		
		<div class="row">
		
			<div class="span3">
			
				<h2>
					<%= form_tag({ :action => "update_label", controller => "users", "user_id" => @user.id, "slot_id" => s.id }) do %>
					<%= text_field_tag(:label, value = s.label) %>
					<%= submit_tag("Update") %>
					<% end %>
				</h2>
				
				<p> Product ID: <%=u.uid%> </p>
				<p> Slot: <%=s.position%> </p>
				<p>
				Power is:<a href="/change_power/<%=s.id%>">
				<% if s.power %>
				Off
				<% else %>
				  On
				<% end %>
				</a>
				</p>
			</div>
			
			<div class="span5">
			<div id="hc-container<%= u.id %><%= s.id %>" class="highcharts-container" style="height:200px;margin: 0 2em; clear:both;width:600px;">
			</div>
			</div>
			
		</div>
		
		<hr>


	<% end %>
<% end %>

</div>
</div>