<script>

  Highcharts.setOptions({
   global: {
      useUTC: false
   }
});

<% 
@user = User.authenticate_with_salt(*cookies.signed[:remember_token])
@slot = Slot.find(params[:slot]) %>

	var chart;
	$(document).ready(function() {
	   chart = new Highcharts.Chart({
		  chart: {
			 renderTo: 'hc-container',
			 defaultSeriesType: 'spline',
			 marginRight: 10,
			 events: {
				load: function() {
	   
					<% @units.each do |u|

						u.slots.each do |s| %>
						
						   // set up the updating of the chart each second
						   var series<%=s.id%> = this.series[<%= s.id %>];
						   setInterval(function() {
							 $.ajax({
							   url: "/get_latest_data/<%= u.id %>/<%= s.position %>" ,
							  success: function(data){
								if(data){
									var x = (new Date(data.data_point.updated_at)).getTime();
									var y = data.data_point.val;
									series<%=s.id%>.addPoint([x, y], true, true);
							  	}
							  }
							  
							 });
							}, 1000);	 
						<% end %>
					<% end %>
						   
				}
			 }
			 
		  },
		  title: {
			 text: 'Real-time Power Consumption'
		  },
		  xAxis: {
			 type: 'datetime',
			 tickInterval: 1000
		  },
		  yAxis: {
			max: 99,
			min: 0,
			 title: {
				text: 'Watts'
			 },
			 plotLines: [{
				value: 0,
				width: 1,
				color: '#808080'
			 }]
		  },
		  tooltip: {
			 formatter: function() {
					   return '<b>'+ this.series.name +'</b><br/>'+
				   Highcharts.dateFormat('%Y-%m-%d %H:%M:%S', this.x) +'<br/>'+ 
				   Highcharts.numberFormat(this.y, 2);
			 }
		  },
		  legend: {
			 enabled: false
		  },
		  exporting: {
			 enabled: false
		  },
		  series: [{
		  
		  	<% @units.each do |u|

				u.slots.each do |s| %>
		  
					 name: '<%= s.label %>',
					 data: (function() {
						var data = [];
						
						<% s.data_points[-10..-1].each do |dp| %>
						   data.push({
							 x: (new Date('<%= dp.updated_at %>')).getTime(),
							 y: <%= dp.val %>
						   });
						 <% end %>
						return data;
					 })()}
					 <% if u == @units.last && s == u.slots.last %>
					 	]
					 <% else %>
					 	,{
					 <% end %>
					 
				<% end %>
			<% end %>
		  
	   });
	   
	});
		
</script>

<div class="row">
		
<h2>Register New Product:</h2>
<div class="well span4">
  Enter product ID:
	<%= form_tag({ :action => "register_unit", controller => "users", "user_id" => @user.id }) do %>
	<%= text_field_tag(:uid) %>
	<%= submit_tag("Register It") %>
	<% end %>
</div>

</div>

<div class="row-fluid">
		
<div class="well">

	<div id="hc-container" class="highcharts-container" style="height:400px;margin: 0 2em; clear:both;width:600px;">
	</div>
	
	<div class="row">
	
<% @units.each do |u|

	u.slots.each do |s| %>
		
			<div class="span3">
			
				<h2>
					<%= form_tag({ :action => "update_label", controller => "users", "user_id" => @user.id, "slot_id" => s.id }) do %>
					<%= text_field_tag(:label, value = s.label) %>
					<%= submit_tag("Update") %>
					<% end %>
				</h2>
				
				<p> Product ID: <%=u.uid%> </p>
				<p> Slot: <%=s.position%> </p>
				<p>
				Power is:<a href="/change_power/<%=s.id%>">
				<% if s.power %>
				Off
				<% else %>
				  On
				<% end %>
				</a>
				</p>
				
			</div>
			
	<% end %>
<% end %>

</div>



</div>
</div>