
<!--
<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
<span class="icon-bar"></span>
<span class="icon-bar"></span>
<span class="icon-bar"></span>
</a>
<div class="row nav-collapse">
	<ul class="nav nav-pills">
		
		<% if signed_in? %>
			
			<li class="span1">
				<h2>
				  Greenstar
				</h2>
			</li>
			<!-- <li class="active span2">
				<%= link_to "Profile", current_user %>
			</li>
			<li class="span2">
				<% link_to "Outlets", users_path, :method => :profile %>
			</li>
			<li class="span2">
				<% link_to "Automation", users_path, :method => :automation %>
			</li>
			<li class="span2">
				<% link_to "Help", root_path, :method => :home %>
			</li> -->
			
			<li class="active span2">
				<a href="/profile"> Profile </a>
			</li>
			<li class="span2">
				<a href="/outlets"> Outlets </a>
			</li>
			<li class="span2">
				<a href="/automation"> Automation </a>
			</li>
			<li class="span2">
				<a href="/faq"> Help </a>
			</li>
		
			<li class="">
				<%= link_to "Sign out", signout_path, :method => :delete %>
			</li>
		<% else %>
		
			<li class="">
				<h2>
				  Greenstar
				</h2>
			</li>
			
			<li class="">
				<a href="/">Home</a>
			</li>
			<li class="">
				<a href="/faq">FAQ</a>
			</li>
		
			<div class="offset4">
				<%= form_for(:session, :url => sessions_path) do |f| %>
				<%= f.text_field :email %>
				<%= f.password_field :password %>
				<%= f.submit "Sign in" %>
				<% end %>
			</div>
			
		 <% end %>
	
		
	</ul>
</div> <!-- nav-collapse -->

